
 .form-container{
    width: var(--container-width-1);
    margin: 0 auto;
    height: auto;
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
    justify-content: center;
 }

 .form-container form{
background-color:  #150825;
padding: 2rem;
border-radius: 1rem;
width: 80%;
 }
 
 .form-container form h3{
    font-size: 2rem;
    text-transform: capitalize;
    text-align: center;

 }
 .form-container form p{
    font-size: 1.2rem;
    color: white;
    padding-top: 1rem;
 }
 .form-container form p span{
    color:red;
 }
 .form-container form .box{
    margin-top: .7rem 0;
    font-size: 1rem;
    padding: .8rem;
    border-radius: .7rem;
    width: 90%;
 }
 .btn_log{
 margin-top: 1.3rem;
 padding: 1.2rem 2.8rem;
 background: rgb(223, 33, 8);
 }
 .remember_forgot{
   margin-top: .6rem;
   display: grid;
   grid-template-columns: 1fr 1fr;
   gap: 1rem;
 }
 .register_forgot{
   margin-top: .7rem;
 }
 .login_register{
   margin-top: 1.2rem;
   text-align: center;
 }

 @media screen and (max-width: 1090px) {
    .form-container{
        width: var(--container-width-2);
        display: grid;
        grid-template-columns: 1fr;
        height: fit-content;
    }
 }
 @media screen and (max-width: 620px){
    .form-container{
        width: var(--container-width-3);
    }
    .form-container form{
      width: 100%;
    }
 }